@import "tailwindcss";

@theme {

  --color-prime: #1a152e;
  --color-second: #312560;
  --color-accent: #c409d8;

  /*
  --color-prime: #1b123f;
  --color-accent: #c409d8;
  --color-second: #c409d8;
 */

}

.wrong {
  @apply text-red-500;
}

.shadow {
  text-shadow: 3px 3px #c409d8;
}

.noshadow {
  text-shadow: 0px 0px #fff;
  position: relative;
  top: 3px;
}

.boxshadow {
  box-shadow: 3px 3px #c412d8;
}