@import "tailwindcss";

@theme {
  --color-back1: hsl(264, 80%, 10%);
  --color-back2: hsl(264, 80%, 20%);
  --color-front1: hsl(264, 80%, 80%);

  --color-prime: #1b123f;
  --color-accent: #c409d8;
  --color-second: #c409d8;

  /*
  --color-second: #e7b196;
 */
}