@import "tailwindcss";

@theme {

  --color-prime: #1a152e;
  --color-second: #312560;
  --color-accent: #c409d8;

  /*
  --color-prime: #1b123f;
  --color-accent: #c409d8;
  --color-second: #c409d8;
 */

}

.wrong {
  @apply text-red-500;
}